<div class="container">
    <h2>Welcome!</h2>

    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">title:</label>
        <input class="input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-body">body:</label>
        <textarea class="input is-large" id="post-body" name="post-body"></textarea>
      </div>
      <div class="form-group">
        <button id="createbutton" type="submit" class="button is-success">Create</button>
      </div>
    </form>
 

  {{#if posts.length}}
  <div class="section">
    <h3>
      Your posts:
    </h3>

    <div id="dashpost">
    {{#each posts as |post|}}
      <div class="section" >
        <h2><a post-title-id={{post.id}} href='api/posts/{{post.id}}'>

          {{post.title}}
      
        </a></h2>  
          <p>
            {{post.body}}
          </p>

           <h3 id="date">{{post.date_created}}</h3>

          <div id="deletebutton">

            <button class="button is-danger" post-id={{post.id}} id="delete-post">
              Delete
            </button>   

          </div>

      </div>  
      </div>
    {{/each}}
  {{/if}}
  </div> 

</div>
  
<script src="/js/post.js"></script>
